.intro {
  display: flexbox;
  justify-content: space-between;
  text-align: left;
  padding-top: 1rem;
  margin-left: 10rem;
}

h2 {
  font-size: 2.5rem;
  padding-top: 2rem;
}

h4 {
  font-size: 2rem;
  padding-top: 0.5rem;
}

h6 {
  font-size: 1rem;
  text-align: left;
  color: silver;
}

.intro-pic img {
  width: 20%;
  height: auto;
  border-radius: 300px;
}

.footer {
  padding-top: 2rem;
}

a {
  padding-left: 1rem;
  color: white;
  font-size: 0.8rem;
}

.intro-para {
  width: 70%;
}

p {
  padding-top: 1rem;
  color: silver;
}

@media (max-width: 768px) {
  .intro {
    margin-left: 0rem;
    max-width: 100%;
  }
  .intro-pic img {
    width: 50%;
  }
  .intro-para {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .intro {
    margin-left: 0rem;
    max-width: 100%;
  }
  .intro-pic img {
    width: 50%;
  }
  .intro-para {
    width: 90%;
  }
}
